/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  inline-size: 100%;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--main-font-weight, 400);
  color: var(--main-color, #000000);
  background-color: var(--main-bg-color, #ffffff);
  background-image: var(--bg-image);
  background-repeat: repeat;
  background-size: auto 4px;
  background-attachment: fixed;
}

@media (375px < width) {
  .page {
    min-inline-size: 376px;
  }
}

.header {
  inline-size: 100%;
  min-block-size: 323px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 100px;
  margin-block-end: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color, #ffffff);
  border: 2px solid var(--main-color, #000000);
  padding-block-start: 120px;
  padding-block-end: 25px;
}

@media (375px < width) {
  .header {     
    min-inline-size: 376px;
    max-inline-size: 700px;
    min-block-size: 368px;
    padding-block-start: clamp(120px 110px 136px);    
  }
}

.header__logo {
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: currentColor;
  font-family: var(--accent-font, "PressStart2P");
  font-weight: var(--main-font-weight, 400);
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  font-style: normal;
  line-height: 49px;  
}

@media (375px < width) {
  .header__logo {    
    padding-block-start: clamp(120px 110px 136px);
  }
}

.header__title {
  margin-inline-start: auto;
  margin-inline-end: auto;  
  color: currentColor;
  font-family: var(--accent-font, "PressStart2P");
  font-weight: var(--main-font-weight, 400);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
}

@media (375px < width) {
  .header__logo {    
    padding-block-start: 30px;
  }
}

.header__theme-menu {
  padding-block-start: 5px;
  padding-inline-start: 16px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: flex-start;
}


.theme-menu__button {
  background-color: inherit;
  border: none;
  color: currentColor;
  font-family: var(--accent-font, "PressStart2P");
  font-weight: var(--main-font-weight, 400);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  opacity: 1;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: .6;  
}

.theme-menu__button:focus {
  outline: none;
  opacity: .6;  
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 100%; 
  block-size: 2px; 
  background-color: currentColor;
  position: absolute;
  margin-block-start: 3px;
  scale: 0;
  transform-origin: 0 0;
}


.theme-menu__button:focus-visible::after {
  animation-name: focus-visually-slide;
  animation-duration: 0.3s;
  animation-timing-function: easy;
  animation-fill-mode: forwards;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: block;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -20px; 
  animation-name: arrow-move; 
  animation-duration: 0.5s;
  animation-timing-function: easy-in-out;
  animation-iteration-count: infinite;
  animation-direction: reverse;  
}

.theme-menu__button:hover {
  opacity: .6;  
} 

.content {
  inline-size: 100%;
  min-block-size: 760px; 
  background-color: var(--main-bg-color, #ffffff);
  border: 2px solid var(--main-color, #000000);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

@media (375px < width) {
  .content {
    min-inline-size: 376px;
    max-inline-size: 700px;
    min-block-size: 959px;    
  }
}

.content__card-title {
  padding-block-start: var(--title-top-pad, 4px);
  padding-block-end: var(--title-bottome-pad, 6px);
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-size: 18px;
  line-height: 21.78px;
  font-weight: var(--accent-font-weight, 700);
  text-align: start;
}

.content__card-picture {
  border-block-start: 2px solid var(--main-color, #000000);
  border-block-start: 2px solid var(--main-color, #000000);
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.content__card-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.content__card-paragraph {
  font-family: var(--main-font, 'Inter-Variable');
  text-align: start;
  font-weight: var(--main-font-weight, 400);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.7px;
}

.content__card-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: end;
  padding-inline-end: 25px;
}

.card__icon-button {
  background-color: inherit;
  outline: 2px solid transparent;
  transition-property: outline;
  transition-duration: 0.3s;
  transition-timing-function: ease;  
  cursor: pointer;
}

.card__icon-button:focus {
  border: none;
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color, #000000);
}

.card__like-button {
  position: relative;
  min-inline-size: 130px;
  min-block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: var(--main-color, #000000);
  outline: 2px solid var(--main-color, #000000);
  transition: box-shadow 0.3s ease, color 1s ease;
  overflow: hidden;
  cursor: pointer;  
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0  var(--main-color, #000000);
}

.card__like-button::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--main-color, #000000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  
}

.card__like-button:hover::after {
  transform: translateX(0);
}

.card__like-button:hover {  
  color: var(--main-bg-color, #ffffff);
}

.button__text {
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-size: 14px;
  line-height: 12.6px;
  font-weight: var(--main-font-weight, 400);
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
}

@media (375px < width) {
  .button__text {    
    display: inline-block;   
  }
}

.footer {
  display: flex;  
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: 100px;  
  background-color: var(--main-bg-color, #ffffff);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

@media (375px < width) {
  .footer {    
    min-inline-size: 376px;
    max-inline-size: 700px;
    min-block-size: 205px;    
  }
}

.footer__button-save {  
  position: relative;  
  min-inline-size: 306px;
  min-block-size: 84px;  
  background-color: transparent;
  outline: 2px solid var(--main-color, #000000);  
  color: var(--main-color, #000000);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease, color 1s ease;
}

.footer__button-save:focus {
  outline: none;
  box-shadow: 2px 2px 0  var(--main-color, #000000);
}

.footer__button-save::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--main-color, #000000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;  
}

.footer__button-save:hover::after {
  transform: translateX(0);
}

.footer__button-save:hover {  
  color: var(--main-bg-color, #ffffff);
}

@media (width > 375px) {
  .footer__button-save {    
    min-inline-size: 335px;
    min-block-size: 55px;    
  }

  .footer__button-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding-block-start: 15px;
    padding-block-end: 15px;
    padding-inline-start: 19px;
    padding-inline-end: 21px;
  }
}

@media (375px < width) {
  .footer__button-content {
    flex-direction: row;
    gap: 8px;
    align-items: center;  
  }
}

.floppy {  
  inline-size: 28px;
  aspect-ratio: 1/1;
  margin-block-end: 8px;
  position: relative;
  z-index: 1;
}

@media (375px < width) {
  .floppy {
    display: inline-block;
    inline-size: 21px; 
    margin-inline-end: 8px;   
  }
}


